name: stylua
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:
jobs:
  codespell:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: codespell-project/actions-codespell@v2
